@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

header {
  background-color: skyblue;
  grid-column: 1 / 2;
}

content {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

.above-main {
  background-color: grey;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  background-color: #b8b8b8;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 20px;
  display: grid;
  grid-template-rows: 35px 1fr;
}

.projects-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.projects-container {
  outline: 1px solid black;
}

.announcements {
  background-color: #d3d3d3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 35px 1fr;
  padding: 20px;
}

.announcements-container {
  display: grid;
  outline: 1px solid black;
  gap: 30px;
  padding: 20px;
}

.announcement-item {
  outline: 1px solid black;
}

.trending {
  background-color: #505050;
  grid-column: 2 / 3;
  padding: 20px;
  display: grid;
  grid-template-rows: 35px 1fr;
}

.trending-user-list {
  outline: 1px solid black;
  display: grid;
}

.trending-user {
  outline: 1px solid black;
}
