@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  background-color: #0ea5e9;
}

header {
  background-color: #0ea5e9;
  grid-column: 1 / 2;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 15px;
  gap: 10px;
}

.title > img {
  height: 40px;
  filter: invert(100%);
}

.links-top > ul,
.links-bottom > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  list-style-type: none;
}

li > a > img {
  height: 25px;
  filter: invert(100%);
}

li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
}

content {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

.above-main {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 75px 1fr;
  align-items: center;
  padding-left: 20px;
}

.search {
  display: flex;
  gap: 10px;
  padding: 20px;
  height: 70px;
}

.search img {
  padding-top: 5px;
}

.search input {
  flex: 1 0 auto;
  border-radius: 15px;
  padding-left: 15px;
  border: none;
  background-color: #e2e8f0;
}

.user-info {
  display: flex;
  padding: 10px;
  padding-right: 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.user-info .notifications {
  height: 30px;
}

.user-info .user-icon {
  height: 50px;
}

.user-info p {
  font-size: 1.25rem;
  font-weight: bold;
}

.user-greeting {
  display: flex;
  padding: 10px;
  gap: 15px;
}

.user-greeting .greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  gap: 5px;
}

.user-greeting .greeting-text p:last-child {
  font-size: 1.5rem;
}

.user-greeting .greeting-icon {
  height: 80px;
}

.user-buttons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding-right: 40px;
}

.user-buttons button {
  background-color: #0ea5e9;
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 15px;
  font-weight: bold;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  background-color: #e2e8f0;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 20px;
  display: grid;
  grid-template-rows: 35px 1fr;
}

.projects-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.projects > p {
  font-weight: bold;
  font-size: 1.25rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-left: 10px solid #eab308;
  border-radius: 5px;
  padding: 30px 20px;
}

.project-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.project-buttons img {
  height: 30px;
}

.project-text p:first-child {
  font-weight: bold;
  padding-bottom: 5px;
}

.project-text p:last-child {
  color: rgb(87, 87, 87);
}

.announcements {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 35px 1fr;
  padding: 20px;
}

.announcements > p {
  font-weight: bold;
  font-size: 1.25rem;
}

.announcements-container {
  background-color: white;
  border-radius: 5px;
  display: grid;
  gap: 10px;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.announcement-item > p:first-child {
  font-weight: bold;
  padding-bottom: 5px;
}

.announcement-item p:last-child {
  color: rgb(87, 87, 87);
}

.announcement-item:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.trending {
  background-color: #505050;
  grid-column: 2 / 3;
  padding: 20px;
  display: grid;
  grid-template-rows: 35px 1fr;
}

.trending-user-list {
  outline: 1px solid black;
  display: grid;
}

.trending-user {
  outline: 1px solid black;
}
